*{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    background-color: blanchedalmond;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#card i{
    font-size: 70px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
}
