* {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 120%;
    width: 100%;
    background-color: #111;
    position: relative;
}

.elem{
    height: 200px;
    width: 100%;
    border-bottom: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position:  relative;
}
.elem h1{
    font-size: 6vw;
    position: relative;
    z-index: 9;
    mix-blend-mode:difference ;
}

.elem img {
    height: 150px;
    width: 150px;
    position: fixed;
   
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s linear;

}
